<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6 text-center">
      <h1>Organize your own Overwatch Tournaments</h1>
    </div>
  </div>
</div>
